body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
dl {
  -wbkit-margin-before: 0;
  -wbkit-margin-after: 0;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
/* theme >
@color-body-bg:#ffffff;
@color-body-text:#6c6c70;

@color-footer-bg:#ffffff;
@color-footer-text:#000000;
@color-header-top-bg:#f0f0f0;
@color-header-top-text:#666666;
@color-header-content-bg:#ffffff;
@color-header-content-text:#666666;
@color-menu-border:#f3bfcd;
@color-navigation-border:#e5e5e5;
@color-navigation-hover:#f0f0f0;


@color-red-text:#db0029;
@color-gray-text:#5b5f64;
@color-black-text:#000000;
@color-white-text:#ffffff;

@color-red-link:#db0029;
@color-gray-link:#666666;
@color-black-link:#000000;
@color-white-link:#ffffff;

@color-date:#999999;

@color-link:#666666;
@color-link-action:#db0029;

@color-adv-carousel-bg:#f7f7f7;
@color-adv-carousel-border:#f0f0f0;
@color-form-bg:#f0f0f0;

@color-sidebar-bg:#f7f7f7;
@color-sidebar-text:#6c6c70;
@color-sidebar-border:#e1e1e1;

@color-border-red:#db0029;
@color-border-gray:#cccccc;

@color-action-bg:#f7f7f7;

@color-footer-link:#999999;
@color-footer-separator:#666666;

@color-tabs-bg:#f0f0f0;*/
/* Fonts
@font-family-tahoma:Tahoma, Arial, sans-serif;
@font-family-yanusc:yanuscbold_italic, Arial, sans-serif;
@font-family-yanusc-normal:yanuscbold, Arial, sans-serif;*/
/* background urls > */
/*@background-url-borders:url(../images/bg/borders.png);
@background-url-mask:url(../images/bg/opinion-mask.png);*/
@font-face {
  font-family: 'titilliumregular';
  src: url('../fonts/titillium-regular-webfont.eot');
  src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titillium-regular-webfont.woff') format('woff'), url('../fonts/titillium-regular-webfont.ttf') format('truetype'), url('t../fonts/itillium-regular-webfont.svg#titilliumregular') format('svg');
}
.b-ico {
  background: url(../images/bg/social-icons.png) no-repeat -9999px -9999px transparent;
  display: -moz-inline-stack;
  display: block;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -9999px;
  font-size: 0;
  width: 0;
  height: 0;
}
.b-ico_type_social {
  height: 24px;
  width: 24px;
}
.b-ico_type_facebook {
  background-position: -1px -10px;
}
.b-ico_type_twitter {
  background-position: -29px -11px;
}
.b-ico_type_inliked {
  background-position: -61px -12px;
}
.b-ico_type_mail {
  background-position: -96px -12px;
}
body {
  font-family: 'Titillium Web', sans-serif;
  background: #FFF;
}
.b-section__in,
.b-stripe__in {
  width: 80%;
  margin: 0 auto;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.b-section_content_header,
.b-stripe_content_header {
  background: #87509c;
  padding: 2em 0;
}
.b-header__top {
  background: #87509c;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
.b-header__desc {
  padding: 10em 0 7em;
}
.b-header__text {
  font-size: 2.5em;
  color: #f7f3ea;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
  -webkit-text-stroke-width: 1px;
}
.b-header__button {
  margin-top: 3em;
  text-align: center;
}
.b-header__button .b-link {
  background: #EB7D4B;
  border-bottom: 4px solid #C86A40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.2em;
  padding: 18px 3em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.b-header__button .b-link:hover {
  background: #F78B5A;
}
.b-header__button .b-link:active {
  position: relative;
  top: 5px;
}
.b-logo {
  float: left;
}
.b-logo .b-link {
  text-decoration: none;
}
.b-navigation-block {
  float: right;
  margin: 14px 0;
  /*&:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  ul {
    list-style: none;
  }*/
}
.b-navigation-block .b-link_content_toggle-menu {
  background: #643a79;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding: 4px 5px 0;
  display: none;
}
.b-navigation-block .b-link_content_toggle-menu:hover {
  background: #5D2F74;
}
.b-navigation__item {
  display: inline-block;
}
.b-navigation__item:first-child {
  margin-left: 0;
}
.b-navigation__item .b-link {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #eee;
  display: block;
  font-size: 1em;
  padding: 5px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.b-navigation__item .b-link:hover {
  background: #643a79;
}
.b-navigation__item.b-current .b-link {
  background: #643a79;
}
@media screen and (max-width: 800px) {
  .b-navigation-block {
    margin: 10px 0;
  }
  .b-active {
    display: block;
  }
  .b-navigation {
    list-style: none;
    width: 95%;
    position: absolute;
    right: 10px;
    background: #292F46;
    top: 62px;
  }
  .b-navigation__item .b-link {
    text-align: left;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
  }
  .b-navigation__item ul {
    width: 100%;
  }
  .b-navigation:after {
    content: '';
    position: absolute;
    right: 18px;
    top: -9px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #292F46;
  }
  .b-navigation-block li a span.messages {
    text-align: center;
    top: 15px;
  }
  .b-navigation-block .b-list {
    margin: 0;
  }
  .b-navigation > li.hover > ul {
    width: 100%;
  }
  .b-navigation > li {
    float: none;
    display: block;
  }
  .b-navigation ul {
    display: block;
    width: 100%;
  }
  .b-navigation > li.hover > ul,
  .b-navigation li li.hover ul {
    position: static;
  }
  .b-navigation li a {
    border-top: 1px solid #1F253D;
  }
  .b-navigation li:first-child a {
    border-top: none;
  }
}
/**************** Main Content ************************/
.b-section__title {
  font-size: 2.2em;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
}
.b-section__subtitle {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 1em;
}
.b-section_content_team__title {
  color: #3c4761;
}
.b-section_content_portfolio__title {
  color: #393939;
}
/****** Services ********/
.b-section_content_services {
  background: #17c2a4;
  padding: 5em 0;
}
.b-section_content_team {
  background: #e7f1f8;
  padding: 5em 0;
}
.b-section_content_team .b-section__title {
  color: #3C4761;
}
.b-section_content_team .b-section__subtitle {
  color: #3C4761;
  font-weight: 600;
  width: 60%;
}
.b-section_content_team .b-grid__title {
  color: #3C4761;
}
.b-section_content_team .b-grid__subtitle {
  color: #30BAE7;
}
.b-section_content_team .b-grid__text {
  color: #3C4761;
}
.b-section_content_skills {
  background: #ffffff;
  padding: 5em 0;
}
.b-section_content_skills .b-section__title {
  color: #3c4761;
}
.b-section_content_skills .b-section__subtitle {
  color: #3C4761;
  font-weight: 600;
  width: 50%;
}
.b-section_content_portfolio {
  background: #ffdd99;
  padding: 5em 0;
}
.b-section_content_portfolio .b-section__title {
  color: #393939;
}
.b-section_content_portfolio .b-section__subtitle {
  color: #393939;
  font-weight: 600;
  width: 50%;
}
.b-section_content_about {
  background: #d74680;
  padding: 5em 0;
}
.b-section_content_about .b-section__title {
  font-weight: normal;
  width: auto;
}
.b-section_content_feedback {
  background: #3c5499;
  padding: 5em 0;
  text-align: center;
}
.b-section_content_feedback .b-section__title {
  font-weight: normal;
  width: auto;
}
.b-section__group {
  margin-top: 3em;
}
.b-line {
  text-align: center;
}
.b-line__in {
  display: inline-block;
  padding: 2px 45px;
  vertical-align: middle;
}
.b-line_color_green .b-line__in {
  background: #14A58C;
}
.b-line_color_yellow .b-line__in {
  background: #E5C37F;
}
.b-line_color_rose .b-line__in {
  background: #B73C6D;
}
.b-line_color_blue .b-line__in {
  background: #273A71;
}
.b-line_color_skyblue .b-line__in {
  background: #C8D9E5;
}
.b-grid_content_services {
  margin-top: 3em;
}
.b-grid_content_services .b-grid__item {
  padding-left: 0;
  padding-right: 0;
  width: 23.8%;
}
.b-grid_content_team .b-grid__item {
  padding-left: 0;
  padding-right: 0;
  width: 23.8%;
}
.b-grid_content_team .b-grid__title {
  margin-top: 10px;
  color: #3c4761;
  -webkit-text-stroke: 2px;
}
.b-grid__item {
  padding: 1.5%;
  text-align: center;
  width: 20.8%;
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
.b-grid__item:first-child {
  margin-left: 0;
}
.b-grid__image {
  margin: 25px 0;
}
.b-grid__title {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.b-grid__subtitle {
  font-size: 1.1em;
  text-align: center;
  color: #30BAE7;
}
.b-grid__text {
  color: #fff;
  font-size: 1.0em;
  line-height: 1.6em;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.b-social-network {
  margin-top: 1em;
}
.b-social-network__item {
  display: inline-block;
  text-align: center;
  margin-left: 7px;
}
.b-social-network__item:first-child {
  margin-left: 0;
}
.b-social-network__item .b-link {
  background: none repeat scroll 0 0 #BDD1DF;
  border-radius: 1em;
  display: block;
  padding: 4px;
  -webkit-transition: all 0.3 ease 0s;
  -moz-transition: all 0.3 ease 0s;
  -ms-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}
.b-social-network__item .b-link:hover {
  background: #4a8fc0;
}
/**************** Media Quries ************************/
@media only screen and (max-width: 1366px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
}
@media only screen and (max-width: 1280px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
}
@media all and (max-width: 1024px) {
  .b-stripe__in,
  .b-section__in {
    width: 90%;
  }
  .b-navigation__item .b-link {
    font-size: 0.85em;
    padding: 5px 15px;
  }
}
@media all and (max-width: 800px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__desc {
    padding: 4em 0 1em 0;
  }
  .b-section_content_skills .b-section__subtitle,
  .b-section_content_portfolio .b-section__subtitle,
  .b-section_content_team .b-section__subtitle,
  .b-section_content_services .b-section__subtitle {
    width: 100%;
  }
  .b-grid_content_services {
    margin-top: 0;
  }
  .b-grid__item {
    margin: 0;
  }
  .b-grid_content_services .b-grid__item,
  .b-grid_content_team .b-grid__item {
    width: 94%;
    padding: 3%;
  }
  .feedback input[type="text"],
  .feedback textarea {
    width: 91%;
  }
}
@media all and (max-width: 640px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__text {
    font-size: 2em;
  }
  .listview_1_of_2 {
    margin: 0;
  }
  .images_1_of_2 {
    width: 94%;
    padding: 3%;
  }
  .testimonials2 {
    margin-top: 0;
  }
}
@media all and (max-width: 480px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-header__text {
    font-size: 1.8em;
  }
  .b-section_type_inner .b-section__title {
    font-size: 1.5em;
  }
  .portfolio-wrapper h5 {
    font-size: 1em;
  }
  .text-box label {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .b-header__button {
    margin-top: 1em;
  }
  .b-header__button .b-link {
    padding: 15px 2em;
  }
}
@media all and (max-width: 320px) {
  .b-stripe__in {
    width: 95%;
  }
  .b-section_type_inner {
    padding: 2em 0;
  }
  .b-section_content_skills .b-section__subtitle,
  .b-section_content_portfolio .b-section__subtitle,
  .b-section_content_team .b-section__subtitle,
  .b-section_content_services .b-section__subtitle,
  .b-section_content_feedback .b-section__subtitle {
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .list_2_of_1 p {
    font-size: 1em;
    line-height: 1.6em;
  }
  #filters li span {
    font-size: 1em;
    padding: 5px 15px;
  }
  .feedback input[type="text"],
  .feedback textarea {
    margin-bottom: 1em;
  }
}
/* clearing > */
.b-clearfix:after,
.b-stripe__in:after,
.b-section__group:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  font: 0/0 a;
  visibility: hidden;
}
/* clearing < */
/* text-align: justify > */
.b-justify {
  line-height: 0;
  text-align: justify;
  font-size: 1px;
  /* 1px для Opera */
  text-align-last: justify;
}
.b-justify:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
/* text-align: justify < */
